@charset "utf-8";
/* CSS Document */
html {
width: 1024px;
margin:0 auto;
background-color:#000000;
font-family:Arial, Helvetica, sans-serif;
color:#e3b025;
}


div#header{
z-index:10;
border:none;
height:280px;
width:100%;
padding: 0 0 200px 0;
}

.content{
padding: 150px 0 0 35px;
min-height: 200px;
}

.footer{
margin-top:50px;
text-align:left;
}

div#homeSlider {
   background: #000;
   //border: 5px solid #eaeaea;
   float:left;
   z-index:-10;
   //box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   height: 380px;
   width: 470px;
   //margin-top: -390px;
   overflow: hidden;
   position: relative;
   margin-left: -480px;
   margin-top: 10px;
}

div#frameSlider  img{
   float:left;
   width: 470px;
   height: 380px;
   z-index: 10;
}
div#frameSlider {
	width: 800px;
	height: 400px;
	padding-left: 284px;
}

div#maskSlider{
	overflow: hidden;
	height: 360px;
    width: 3000px;
	margin-left: 25px;
}

div#maskSlider img{
	margin: 0; padding: 0;
	float:left;
}

@keyframes cycle {
	10% { left: -490px; }
	20% { left: -490px; }
	30% { left: -960px; }
	40% { left: -960px; }
	50% { left: -1430px; }
	60% { left: -1430px; }
	70% { left: -1900px; }
	80% { left: -1900px; }
	90% { left: -2370px; }
	100% { left: -2370px; }
}

@-webkit-keyframes cycle {
	10% { left: -490px; }
	20% { left: -490px; }
	30% { left: -960px; }
	40% { left: -960px; }
	50% { left: -1430px; }
	60% { left: -1430px; }
	70% { left: -1900px; }
	80% { left: -1900px; }
	90% { left: -2370px; }
	100% { left: -2370px; }
}


@-moz-keyframes cycle {
	10% { left: -490px; }
	20% { left: -490px; }
	30% { left: -960px; }
	40% { left: -960px; }
	50% { left: -1430px; }
	60% { left: -1430px; }
	70% { left: -1900px; }
	80% { left: -1900px; }
	90% { left: -2370px; }
	100% { left: -2370px; }
}


div#homeSlider img{
	position: relative;
	margin: 0; padding: 0; font-size: 0; left: 0;
	animation: 20s cycle infinite;
	-webkit-animation: 20s cycle infinite;
    -moz-animation: 20s cycle infinite;
}

.location {
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   border-radius: 15px;
}
.detailLocation{
   float:left;
   margin-right: 80px;
   padding-left: 50px;
}

div .round{
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;;
    border:solid 1px #000; 
    width:12px;
    height:12px;
	display:inline-block;
}

div .thanksLetter{
    padding-left: 300px;
}

div .thanksLetter a{
    color:#e3b025;
}
.imageLocation {
    width:459px;
	height:420px;
    margin-left: 300px;
    background-image:url("../Assets/location2.png");
}
.imageLocation:hover{
	background-image:url("../Assets/location.png");
}